.mdl-list .mdl-list {
  padding: 0;
}

.mdl-list .mdl-list .mdl-list__item {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.mdl-list__item {
  border-top: 1px solid #dedede;
  /*border-bottom: 1px solid #dedede;*/
}

.mdl-list__item .mdl-list__item {
  border: none;
}

.mdl-list .mdl-list__item:last-child {
  border-bottom: 1px solid #dedede;
}

.mdl-list .mdl-list .mdl-list__item:last-child {
  border-bottom: none;
}