.mdl-list .mdl-list {
  padding-bottom: 0;
  padding-top: 16px;
}

.mdl-list .mdl-list .mdl-list__item:first-child {
  padding-top: 16px;
}

.mdl-list .mdl-list .mdl-list__item {
  border-top: thin solid #dedede;
  padding-left: 0;
  padding-right: 0;
}

.mdl-list .mdl-list .mdl-list__item:last-child {
  padding-bottom: 0;
}

.mdl-list__item {
  border-top: thin solid #dedede;
}

.mdl-list .mdl-list__item:last-child {
  border-bottom: thin solid #dedede;
}

.mdl-list .mdl-list .mdl-list__item:last-child {
  border-bottom: none;
}

.mdl-tree {
  width: 100%;
}

.mdl-tree__item {
  flex-wrap: wrap;
}
