.mdl-tree__item {
  border-top: thin solid #dedede;
  flex-wrap: wrap;
}

.mdl-tree {
  width: 100%;
}

.mdl-tree .mdl-tree {
  padding-bottom: 0;
  padding-top: 16px;
}

.mdl-tree .mdl-tree .mdl-tree__item:first-child {
  padding-top: 16px;
}

.mdl-tree .mdl-tree .mdl-tree__item {
  border-top: thin solid #dedede;
  margin: 0 -16px 0 -16px;
}

.mdl-tree .mdl-tree .mdl-tree__item:last-child {
  padding-bottom: 0;
}

.mdl-tree .mdl-tree__item:last-child {
  border-bottom: thin solid #dedede;
}

.mdl-tree .mdl-tree .mdl-tree__item:last-child {
  border-bottom: none;
}

.mdl-tree__item-text {
  width: 100%;
}

.mdl-tree__item-input .mdl-textfield__input {
  border-bottom: none;
}

.mdl-tree__item-text .mdl-textfield,.mdl-js-textfield {
  padding: 0;
  width: 100%;
}

